{% extends 'base.html' %}
{% block section %}
<main class="h-full pb-16 overflow-y-auto">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container px-6 mx-auto grid">
            <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">Trainer Registration</h2>

            <!-- Personal Details -->
            <h4 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300">Personal Details</h4>
            <div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800">
                <div class="mb-4">
                    <label class="block text-sm">
                        <span class="text-gray-700 dark:text-gray-400">First Name</span>
                        <span class="text-red-600">*</span>
                    </label>
                    {{ form.first_name }}
                </div>
                <div class="mb-4">
                    <label class="block text-sm">
                        <span class="text-gray-700 dark:text-gray-400">Last Name</span>
                        <span class="text-red-600">*</span>
                    </label>
                    {{ form.last_name }}
                </div>
                <div class="mb-4">
                    <label class="block text-sm">
                        <span class="text-gray-700 dark:text-gray-400">Profile Photo</span>
                        <span class="text-red-600">*</span>
                    </label>
                    {{ form.photo }}
                </div>
                <div class="mb-4">
                    <label class="block text-sm">
                        <span class="text-gray-700 dark:text-gray-400">Email</span>
                        <span class="text-red-600">*</span>
                    </label>
                    {{ form.email }}
                </div>
                <div class="mb-4">
                    <label class="block text-sm">
                        <span class="text-gray-700 dark:text-gray-400">Contact Number</span>
                        <span class="text-red-600">*</span>
                    </label>
                    {{ form.contact }}
                </div>
                <div class="mb-4">
                    <label class="block text-sm">
                        <span class="text-gray-700 dark:text-gray-400">House Name</span>
                    </label>
                    {{ form.house_name }}
                </div>
                <div class="mb-4">
                    <label class="block text-sm">
                        <span class="text-gray-700 dark:text-gray-400">Post Office</span>
                    </label>
                    {{ form.post_office }}
                </div>
                <div class="mb-4">
                    <label class="block text-sm">
                        <span class="text-gray-700 dark:text-gray-400">District</span>
                    </label>
                    {{ form.district }}
                </div>
                <div class="mb-4">
                    <label class="block text-sm">
                        <span class="text-gray-700 dark:text-gray-400">Pincode</span>
                    </label>
                    {{ form.pincode }}
                </div>
            </div>

            <!-- Professional Details -->
            <h4 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300">Professional Details</h4>
            <div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800">
                <div class="mb-4">
                    <label class="block text-sm">
                        <span class="text-gray-700 dark:text-gray-400">Employee ID</span>
                        <span class="text-red-600">*</span>
                    </label>
                    {{ form.employee_id }}
                </div>
                <div class="mb-4">
                    <label class="block text-sm">
                        <span class="text-gray-700 dark:text-gray-400">Qualification</span>
                    </label>
                    {{ form.qualification }}
                </div>
                <div class="mb-4">
                    <label class="block text-sm">
                        <span class="text-gray-700 dark:text-gray-400">Stream</span>
                    </label>
                    {{ form.stream }}
                </div>
                <div class="mb-4">
                    <label class="block text-sm">
                        <span class="text-gray-700 dark:text-gray-400">ID Proof</span>
                        <span class="text-red-600">*</span>
                    </label>
                    {{ form.id_proof }}
                </div>
                <div class="mb-4">
                    <label class="block text-sm">
                        <span class="text-gray-700 dark:text-gray-400">Course</span>
                    </label>
                    {{ form.course }}
                </div>
            </div>

            <div class="flex items-center justify-end">
                <button type="submit" class="px-5 py-3 my-6 font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
                    Register
                </button>
            </div>
        </div>
    </form>
</main>
{% endblock %}